<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Build.AsyncTask" version="0.2.8" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="portable45-net45+win8+wpa81" />
</packages>